@import "tailwindcss";

:root {
  --border-radius: 12px;
  --background-color: rgb(16, 16, 16);
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-sans:
    "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
  @apply font-sans;
  letter-spacing: -0.015em;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer2-icon lucide-mouse-pointer-2"><path d="M4.037 4.688a.495.495 0 0 1 .651-.651l16 6.5a.5.5 0 0 1-.063.947l-6.124 1.58a2 2 0 0 0-1.438 1.435l-1.579 6.126a.5.5 0 0 1-.947.063z"/></svg>')
      2 2,
    auto !important;
}

html,
body {
  @apply bg-(--background-color);
  @apply flex;
  @apply flex-col;
  @apply min-h-screen;
  @apply min-w-0;
  @apply items-center;
  @apply justify-center;
}

.main {
  @apply transition-all;
  @apply ease-out;
  @apply transform-gpu;
  @apply will-change-transform;
  @apply z-50;
}

.card {
  @apply bg-white/5;
  @apply border-white/5;
  @apply rounded-(--border-radius);
  @apply shadow-xl;
  @apply flex;
  @apply flex-col;
  @apply flex-1;
  @apply p-8;
  @apply backdrop-blur-xl;
  @apply transform-gpu;
  @apply will-change-transform;
}
